.header-top {
    background-color: #181818;
    padding: 0.5rem 0;
}
#image-size-1 {
    width:12.54rem;
    height:3rem;
}
#image-size-2 {
    width:13rem;
    height:2rem;
}
.header-bottom {
    background-color: #181818;
}